<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/aboutUs.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li class="floatLeft homePageNav">
            <a class="navBarButton" href="/">Homepage</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/forum/webpage">Forum</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/aboutUs/webpage">About Us</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton"  href="/contactUs/webpage">Contact Us</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="logIn" href="/login/webpage">Log in</a>
            <div class = "dropDown" id="dropDown"> <div id="logOff">Log Off</div> </div>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="signUp" href="/signUp/webpage">Sign Up</a>
            </li>
        </ul>
    </div>
    <div id = "content">
    <p class="aboutUs">Students in universities may not always have friends who take same courses. 
        <br><br>When exams are coming, do they want to meet with classmates and review course material together? 
        <br><br>Do they want to join a study group and learn from other students? 
        <br><br>We believe the answer is “yes” for many students.
        <br><br>CourseMate is here to help students find and team up with students in same courses.</p>
    </div>

    <footer class="footer">
    <p>Designed and created by Team14 :)</p>
    </footer>
</body>
</html>