<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/avatar.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li class="floatLeft homePageNav">
            <a class="navBarButton" href="/homePage/webpage">Homepage</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/forum/webpage">Forum</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/aboutUs/webpage">About Us</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton"  href="/contactUs/webpage">Contact Us</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="logIn" href="/login/webpage">Log in</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="signUp" href="/signUp/webpage">Sign Up</a>
            </li>
        </ul>
    </div>
    <div id = "content">
        <div class="container">
        <ul>
            <li class="containerElement"> Choose your avatar</li>
            <li>
                <image src="/image/1.jpg" id = "/image/1.jpg" height = 80 width = 80 class = "avatar">
                <image src="/image/2.jpg" id = "/image/2.jpg" height = 80 width = 80 class = "avatar">
                <image src="/image/3.jpg" id = "/image/3.jpg" height = 80 width = 80 class = "avatar">
            </li>
            <li>
                <image src="/image/4.jpeg" id = "/image/4.jpeg" height = 80 width = 80 class = "avatar">
                <image src="/image/5.jpeg" id = "/image/5.jpeg" height = 80 width = 80 class = "avatar">
                <image src="/image/6.jpeg" id = "/image/6.jpeg" height = 80 width = 80 class = "avatar">
            </li>
            <li>
                <image src="/image/7.jpeg" id = "/image/7.jpeg" height = 80 width = 80 class = "avatar">
                <image src="/image/8.jpeg" id = "/image/8.jpeg" height = 80 width = 80 class = "avatar">
                <image src="/image/9.jpeg" id = "/image/9.jpeg" height = 80 width = 80 class = "avatar">
            </li>
        </ul>
        </div>
    </div>
    
    <script type="text/javascript" src="/js/avatar.js"></script>
    <footer class="footer">
    <p>Designed and created by Team14 :)</p>
    </footer>
</body>
</html>