<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/contactUs.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li class="floatLeft homePageNav">
            <a class="navBarButton" href= "/">Homepage</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/forum/webpage">Forum</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/aboutUs/webpage">About Us</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton"  href="/contactUs/webpage">Contact Us</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="logIn" href="/login/webpage">Log in</a>
            <div class = "dropDown" id="dropDown"> <div id="logOff">Log Off</div> </div>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="signUp" href="/signUp/webpage">Sign Up</a>
            </li>
        </ul>
    </div>

    <!-- <div id = "content">
    <p class="aboutUs">Team 14:
        <br> Haolin Zhang: <br>
        <a href="https://github.com/zhan3251">https://github.com/zhan3251</a> <br> <a href="mailto:richardhz.zhang@mail.utoronto.ca">richardhz.zhang@mail.utoronto.ca</a>
        <br><br> Yongwei Lin:<br>
        <a href="https://github.com/linyongw">https://github.com/linyongw</a> <br> <a href="mailto:yongwei.lin@mail.utoronto.ca">yongwei.lin@mail.utoronto.ca</a>
        <br><br> Yupeng Huang: <br>
        <a href="https://github.com/Frankisflying">https://github.com/Frankisflying</a> <br> <a href="mailto:yupeng.huang@mail.utoronto.ca">yupeng.huang@mail.utoronto.ca</a>
        <br><br> Linhao Liu: <br>
         <a href="https://github.com/P311">https://github.com/P311</a> <br> <a href="mailto:linhao.liu@mail.utoronto.ca"> linhao.liu@mail.utoronto.ca</a>
    </p>
    </div> -->



    <!-- <div id="team14">
      <h1>Team 14</h1>
    </div> -->
    <h1 id="team14">Team 14</h1>


    <div class="groupMember">
      <h1>Haolin Zhang</h1>
      <a href="https://github.com/zhan3251">https://github.com/zhan3251</a> <br> <a href="mailto:richardhz.zhang@mail.utoronto.ca">richardhz.zhang@mail.utoronto.ca</a>
    </div>

    <div class="groupMember">
      <h1>Yongwei Lin</h1>
      <a href="https://github.com/linyongw">https://github.com/linyongw</a> <br> <a href="mailto:yongwei.lin@mail.utoronto.ca">yongwei.lin@mail.utoronto.ca</a>
    </div>

    <div class="groupMember">
      <h1>Yupeng Huang</h1>
      <a href="https://github.com/Frankisflying">https://github.com/Frankisflying</a> <br> <a href="mailto:yupeng.huang@mail.utoronto.ca">yupeng.huang@mail.utoronto.ca</a>
    </div>

    <div class="groupMember">
      <h1>Linhao Liu</h1>
      <a href="https://github.com/P311">https://github.com/P311</a> <br> <a href="mailto:linhao.liu@mail.utoronto.ca"> linhao.liu@mail.utoronto.ca</a>
    </div>




    <footer class="footer">
    <p>Designed and created by Team14 :)</p>
    </footer>
</body>
</html>
