<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/forumNotLoggedIn.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li class="floatLeft">
            <a class="navBarButton" href="/">Homepage</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/forum/webpage">Forum</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/aboutUs/webpage">About Us</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton"  href="/contactUs/webpage">Contact Us</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="logIn" href="/login/webpage">Log in</a>
            <div class = "dropDown" id="dropDown"> <div id="logOff">Log Off</div> </div>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="signUp" href="/signUp/webpage">Sign Up</a>
            </li>
        </ul>
    </div>

    <div id="content">
        <div id="postsBar">
            <h1 class="postTitle">Posts</h1>
            <button id="newPost" onclick = "location.href = '/login/webpage';">New Post</button>
            <input id="searchPost" type="text" placeholder="Search for posts">
        </div>
        <div id="mainContent">
            <div id="welcome">
                Welcome to CourseMate!
            </div>
            <p class="rules">
                <br>
                CourseMate is a forum that respects freedom of speech. However, there are rules
                that users have to follow. <br>
                The specific rules of speech are:
                <br><br>
                1. No posts about discrimination against ethnic groups, ethnic groups, disability, and social and economic conditions.
                <br><br>
                2. No insulting language.
                <br><br>
                3. Do not perform acts that affect others using the forum, such as spamming.
                <br><br>
                4. Do not post statements that promote cults, crime and violence.
                <br><br>
                5. The privacy of everyone should be respected. No one should spread others' personal inforamtion without consent.
                <br><br>
                6. No commercial advertisement.
                <br><br>
                All rights reserved by team 14.
            </p>
        </div>
        <div id="replyBlock">
            <p class="readTerms">
                Please carefully read the terms of services before you enter the forum.
                <br> <br>
                Violations of terms of service may cause
                the suspension of your account.
            </p>
        </div>
    </div>
    <script type="text/javascript" src="/js/forumNotLoggedIn.js"></script>
    <footer class="footer">
    <p>Designed and created by Team14 :)</p>
    </footer>
</body>
</html>
