<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/groupPage.css">
</head>
<body>
   <div id="navBar">
      <ul>
        <li>
          <a class="navBarButton" href= "/forum/webpage">Forum</a>
        </li>
        <li>
          <a class="navBarButton" href="/profile/webpage">Profile</a>
        </li>
        <li>
          <a class="navBarButton" href="/friendList/webpage">Friends</a>
        </li>
        <li>
          <a class="navBarButton" href="/studyGroup/webpage">Study Group</a>
        </li>
      </ul>
    </div>

    <div id="groupMenu">
        <div id="groupName">
        </div>
        <div class="groupMenuText">
            Members:
        </div>
        <ul id="members">
        </ul>
        <div class="groupMenuText" id="announcement">
            Announcement
        </div>
        <div class="groupMenuText" id="groupChat">
            Group Chat
        </div>
        <div class="groupMenuText" id="joinGroup">
            Join Group
        </div>
        <div class="groupMenuText" id="leaveGroup">
            Leave Group
        </div>
    </div>

    <div id="mainContent">
    </div>
</body>
<script type="text/javascript" src="/js/groupPage.js"></script>
