<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CourseMate</title>
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li class="floatLeft homePageNav">
            <a class="navBarButton" href="/">Homepage</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/forum/webpage">Forum</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton" href="/aboutUs/webpage">About Us</a>
            </li>
            <li class="floatLeft">
            <a class="navBarButton"  href="/contactUs/webpage">Contact Us</a>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="logIn" href="/login/webpage">Log in</a>
            <div class = "dropDown" id="dropDown"> <div id="logOff">Log Off</div> </div>
            </li>
            <li class="floatRight">
            <a class="navBarButton" id="signUp" href="/signUp/webpage">Sign Up</a>
            </li>
        </ul>
    </div>
    <div class="container">
    <form id = "signUpInfo">
    <div class = "containerElement">
    <p>Username: </br><input class="textInput" type="text" name="username" placeholder="Username"/></p>
    </div>
    <div class="containerElement">
    <p>Password: </br><input class="textInput" type="password" name="password" placeholder="Password"/></p>
    </div>
    <div class="containerElement">
    <button id="signUpButton" class="button">Sign up</button>
    </div>
    </form>
    </div>
    <script type="text/javascript" src="/js/signUp.js"></script>
    <footer class="footer">
    <p>Designed and created by Team14 :)</p>
    </footer>
</body>
</html>